<h1>Liste de nos chiens disponibles</h1>
<table>
    <tbody></tbody>
        <% @dogs.each do |dog| %>
            <tr>
                <td><%= dog.name %></td>
                <td><%= dog.description %></td>
                <td><%= link_to 'Show', dog %></td>
            </tr>
        <% end %>
    </tbody>
</table>
