<h1>Créer une nouvelle réservation</h1>



<%= link_to "Mes réservations", bookings_path %>

<br><br><br><br><br><br>
<%= link_to("Faire une nouvelle réservation", dogs_path, class:"btn btn-success") %>
<br><br><br><br><br><br>
<%= link_to "Revenir à l'accueil", root_url %>
