
  <h1>Booking index</h1>




 <% @bookings.each do |booking| %>
 <p><%= booking.user_id %></p>
  <%= booking.booking_date %>
  <% end %>


<%= link_to("Faire une nouvelle réservation", bookings_path, class:"btn btn-success") %>
