<div >
<div class ="containers">
    <div class="card">
    <div  class="test">  
    <%= image_tag "img1.svg" %>
    </div>
    <div class="txt">
        <h4>Sed ut perspiciatis unde omnis</h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,<br>
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br>Neque porro quisquam est, qui dolorem.</p>
    </div>
    
</div>
</div>