<div >
<div class ="containers">
    <div class="card">
    <div  class="test">  
    <%= image_tag "img1.svg" %>
    </div>
    <div class="txt">
        <h4>Une plateforme waffement bien pensée</h4>
        <p>Le chien reste l'animal de compagnie n°1 dans le monde.</p>
        <p>Mais cela reste une responsabilité de s'en occuper correctement d'où une location plaisante "en CDD".</p>
    </div>
    
</div>
</div>