<div class="container">
    <div class="first-card">
<div >
 <%= image_tag "draw_dog.svg",class: "img-first-card" %>
 </div>
<h4><strong>Témoignages de Polux et Rocky, loués à Dubaï et Los Angeles</strong></h4>
<p>"Merci Doggyrent ! L'une des meilleures plateformes de location de chiens !"</p>
        <%# <h1> is simply dummy text of the<br>
        <span class ="strong">printing and typesetting industry</span></h1> %>
    </div>
</div>

