
<div class = "containerd">

<div class = "footer">
 <%= image_tag "logo.svg" ,class: :logofooter %>
<div class ="footer-n1">
   
    <ul class =" endfooter">
        <li><h5 class ="h5-footer">Mobile</h5></li>
        <li><p>Caractéristiques</p></li>
        <li><p>Partage</p></li>
        <li><p>Video </p></li>
    </ul>

    <ul>
        <li><h5 class ="h5-footer">compagnie</h5></li>
        <li><p>A propos</p></li>
        <li><p>Contact </p></li>
        <li><p>Histoire</p></li>
    </ul>

    <ul>
        <li><h5 class ="h5-footer">communauté</h5></li>
        <li><p> Les utilisateurs </p></li>
        <li><p>Portail</p></li>
        <li><p>Evenements</p></li>
    </ul>

</div>

<div class ="footer-n2">
<p class ="startfooter">© Photo, Inc. 2019. We love our users!</p>
<div class ="endfooter">
    <ul  class ="footer-footer-ul">
        <li> <p>Follow us:</p></li>
        <li class ="coloricons"><%= image_tag "twitter 1twitter.svg" %></li>
        <li class ="coloricons"><%= image_tag "instagram-sketched 1insta" %></li>
        <li class ="coloricons"><%= image_tag "facebook 1" %></li>
    </ul>
    </div>
</div>
</div>
</div>