<%# <html>
    <footer class="footer">
        <div class="container">
         <%= image_tag "logo.png" %>
            <%# <div class="cardmobileapp">
                <ul>
                    <li><strong>Mobile App</strong></li>
                    <br>
                    <li>Features</li>
                    <li>Live share</li>
                    <li>Video records</li>
                </ul>
            </div>
            <div class="cardcommunity">
                <ul>
                    <li><strong>Community</strong></li>
                    <br>
                    <li>Features</li>
                    <li>Live share</li>
                    <li>Video records</li>
                </ul>
            </div>
            <div class="cardcompany">
                <ul>
                    <li><strong>Company</strong></li>
                    <br>
                    <li>Features</li>
                    <li>Live share</li>
                    <li>Video records</li>
                </ul>
            </div>
            <div class="footer-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>
</html>

<%# <a class="button" href="#">Register</a> %> 