
<div class ="imgcontainer">

    <div class ="imgcolor">
    </div>

    <div class ="titletext">
        <h4>Plus de 30 000 utilisateurs à travers le monde</h4>
        <p> <%= %></p>
    </div>
</div>