
<div class ="imgcontainer">

    <div class ="imgcolor">
    </div>

    <div class ="titletext">
        <h4>Lorem Ipsum has been</h4>
        <p>Lorem Ipsum has been the industry's <br>
        standard dummy text ever since the <br>
        1500s, </p>
    </div>
</div>