.bookingform {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 1400px;
    height: 600px;

}
h1{
    color: black;
}
.bookingform {

    color: #F8846B;
}
