
.generique{
background-color: #F8846B;
color: white;
border-radius: 6px;
font-family: 'Montserrat-Bold';
font-style: normal;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
text-align: center;
margin: 12px;

}

.specifique{

border-color: black;
color: white;
border-radius: 6px;
font-family: 'Montserrat-Bold';
font-style: normal;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
text-align: center;
margin: 12px;
    }