
.containers{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{

    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    height: 600px;
    align-items: center;
}
.txt {
    padding-top: 250px;
}