.containerposting{
    background-color: white;
    height: 600px;
    width: 1300px;
}

.containershowdog{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 30px;
}