.container{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 600px;
    background-color: rgba(248, 132, 107, 0.5);
    border-radius: 70px;
    font-size: 20px;
    text-align: center;
}
.first-card{
    
}

.strong{
    font-size: 60px;
   font-weight: bold;
}

.container .video{
    height: 300px;
    width: 300px;
}