ul{
    list-style: none;
}
.footer{
    position: relative;
    margin: 50px;
    padding: 40px;
    width: 1680px;
   height: 490px;
   background-color: white;

}

.footer-n1{
    margin-left: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}
.footer-n1 ul {
    margin: 50px;
  
 }
 .footer-n1 ul li {
    margin-bottom: 1px;
  
 }
 
.footer-n2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-top: solid 1px;
    border-color: gray;
}
.footer-n2 ul{
    text-align: center;
   
    display: flex;
    margin-top: 20px;
    margin-left: 800px;
 
}
.footer-n2 ul li {
   margin: 10px;
 
}
.h5-footer{
margin-bottom: 10px;
    font-weight: bold;

}

.logofooter{
position: absolute;
    margin-top: 50px;
}

.coloricons{
    fill: #ff5934;
}